# 복습

# numpy

In [7]:
import numpy as np

In [9]:
data1 = np.array([1,2,3])

In [11]:
data1.mean()

2.0

In [13]:
data1.sum()

6

In [15]:
#np.array는 다양한 연산함수를 지원함

In [17]:
np.array(1).ndim #0은 scala

0

In [19]:
np.array([1,2,3]).ndim #1은 vertor

1

In [21]:
np.array([[1,2],[3,4]]).ndim #2는 mat

2

In [23]:
import pandas as pd

In [24]:
# series는 index, value로 이루어짐
s1 = pd.Series([1,2,3])
s1

0    1
1    2
2    3
dtype: int64

In [27]:
s1.index

RangeIndex(start=0, stop=3, step=1)

In [28]:
s1.values

array([1, 2, 3], dtype=int64)

In [29]:
s1.mean()

2.0

In [33]:
s1.sum()
#Series는 np.array를 기반으로 만들어져서 다양한 연산 함수 사용 가능

6

In [34]:
s2 = pd.Series([1,2,3,4,5], index = ['a','b','c','d','e'])
s2

a    1
b    2
c    3
d    4
e    5
dtype: int64

In [35]:
d1 = s2.index
d1

Index(['a', 'b', 'c', 'd', 'e'], dtype='object')

In [37]:
#인덱싱
s2['a']

1

In [40]:
s2[1:3]

b    2
c    3
dtype: int64

In [42]:
s3 = pd.Series( { '이름' : 'Harry' , '직업' : '마법사'})
s3

이름    Harry
직업      마법사
dtype: object

In [43]:
s3['주소'] = '호그와트'
s3

이름    Harry
직업      마법사
주소     호그와트
dtype: object

In [45]:
s3.rename( index = {'주소' : '학교'})
s3

이름    Harry
직업      마법사
주소     호그와트
dtype: object

In [47]:
s3

이름    Harry
직업      마법사
주소     호그와트
dtype: object

In [49]:
s3.rename( index = {'주소' : '학교'}, inplace = True)
s3

이름    Harry
직업      마법사
학교     호그와트
dtype: object

In [51]:
df1 = pd.DataFrame([1,2,3,4,5]) #리스트는 열방향
df1

   0
0  1
1  2
2  3
3  4
4  5

In [80]:
df2 = pd.DataFrame( [[1,2,3,4,5]]) #이중리스트는 행방향 + col자동 생성
df2

   0  1  2  3  4
0  1  2  3  4  5

In [54]:
pd.DataFrame( [[1,2,3], [4,5,6]])

   0  1  2
0  1  2  3
1  4  5  6

In [70]:
df1.index

RangeIndex(start=0, stop=5, step=1)

In [72]:
df1.values

array([[1],
       [2],
       [3],
       [4],
       [5]], dtype=int64)

In [74]:
df1.columns

RangeIndex(start=0, stop=1, step=1)

In [84]:
df3 = df2.rename( columns = { 0 : 'a', 1 : 'b', 2 : 'c', 3 : 'd', 4 : 'e'})
df3
# rename 함수도 inplace사용해야 함

   a  b  c  d  e
0  1  2  3  4  5

In [102]:
df4 = pd.DataFrame ( data = {'이름': ['호랑이', '나비'] , '나이' : [1,2]})
df4

    이름  나이
0  호랑이   1
1   나비   2

In [104]:
df4.set_index('이름') #이름이라는 col을 index로 사용하겠다 + inplace사용해야함

     나이
이름
호랑이   1
나비    2

In [108]:
df4['나이']

0    1
1    2
Name: 나이, dtype: int64

In [112]:
df1 = pd.read_csv('01_Data.csv')
df1.head()

,Index,Member_ID,Sales_Type,Contract_Type,Channel,Datetime,Term,Payment_Type,Product_Type,Amount_Month,Customer_Type,Age,Address1,Address2,State,Overdue_count,Overdue_Type,Gender,Credit_Rank,Bank
0,1,66758234,렌탈,일반계약,영업방판,2022-05-05,60,CMS,DES-1,96900,개인,42.0,경기도,경기도,계약확정,0,없음,여자,9.0,새마을금고
1,2,66755948,렌탈,교체계약,영업방판,2023-02-19,60,카드이체,DES-1,102900,개인,39.0,경기도,경기도,계약확정,0,없음,남자,2.0,현대카드
2,3,66756657,렌탈,일반계약,홈쇼핑/방송,2022-02-27,60,CMS,DES-1,96900,개인,48.0,경기도,경기도,계약확정,0,없음,여자,8.0,우리은행
3,4,66423450,멤버십,멤버십3유형,재계약,2022-05-12,12,CMS,DES-1,66900,개인,39.0,경기도,경기도,계약확정,0,없음,남자,5.0,농협회원조합
4,5,66423204,멤버십,멤버십3유형,재계약,2022-05-09,12,CMS,DES-1,66900,개인,60.0,경기도,경기도,기간만료,12,있음,남자,8.0,농협회원조합

In [118]:
# 구조와 타입
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51301 entries, 0 to 51300
Data columns (total 20 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Index          51301 non-null  int64
 1   Member_ID      51301 non-null  int64
 2   Sales_Type     51301 non-null  object
 3   Contract_Type  51301 non-null  object
 4   Channel        51301 non-null  object
 5   Datetime       51301 non-null  object
 6   Term           51301 non-null  int64
 7   Payment_Type   51301 non-null  object
 8   Product_Type   51301 non-null  object
 9   Amount_Month   51301 non-null  int64
 10  Customer_Type  51299 non-null  object
 11  Age            44329 non-null  float64
 12  Address1       51299 non-null  object
 13  Address2       51299 non-null  object
 14  State          51301 non-null  object
 15  Overdue_count  51301 non-null  int64
 16  Overdue_Type   51301 non-null  object
 17  Gender         51301 non-null  object
 18  Credit_Rank    42520 non-null  float64
 19  Bank           48542 non-null  object
dtypes: float64(2), int64(5), object(13)
memory usage: 7.8+ MB

In [126]:
# 결측치 확인
df1.isnull().sum()

Index               0
Member_ID           0
Sales_Type          0
Contract_Type       0
Channel             0
Datetime            0
Term                0
Payment_Type        0
Product_Type        0
Amount_Month        0
Customer_Type       2
Age              6972
Address1            2
Address2            2
State               0
Overdue_count       0
Overdue_Type        0
Gender              0
Credit_Rank      8781
Bank             2759
dtype: int64

In [128]:
df1.head(10)

,Index,Member_ID,Sales_Type,Contract_Type,Channel,Datetime,Term,Payment_Type,Product_Type,Amount_Month,Customer_Type,Age,Address1,Address2,State,Overdue_count,Overdue_Type,Gender,Credit_Rank,Bank
0,1,66758234,렌탈,일반계약,영업방판,2022-05-05,60,CMS,DES-1,96900,개인,42.0,경기도,경기도,계약확정,0,없음,여자,9.0,새마을금고
1,2,66755948,렌탈,교체계약,영업방판,2023-02-19,60,카드이체,DES-1,102900,개인,39.0,경기도,경기도,계약확정,0,없음,남자,2.0,현대카드
2,3,66756657,렌탈,일반계약,홈쇼핑/방송,2022-02-27,60,CMS,DES-1,96900,개인,48.0,경기도,경기도,계약확정,0,없음,여자,8.0,우리은행
3,4,66423450,멤버십,멤버십3유형,재계약,2022-05-12,12,CMS,DES-1,66900,개인,39.0,경기도,경기도,계약확정,0,없음,남자,5.0,농협회원조합
4,5,66423204,멤버십,멤버십3유형,재계약,2022-05-09,12,CMS,DES-1,66900,개인,60.0,경기도,경기도,기간만료,12,있음,남자,8.0,농협회원조합
5,6,66165241,렌탈,프로모션계약,영업방판,2022-07-28,60,CMS,DES-3A,90900,개인,53.0,경상도,경상도,계약확정,0,없음,여자,5.0,농협중앙회
6,7,66751017,렌탈,패키지계약,홈쇼핑/방송,2022-01-29,60,카드이체,DES-1,98400,개인,66.0,경상도,경상도,계약확정,0,없음,남자,1.0,롯데카드
7,8,66751017,렌탈,패키지계약,홈쇼핑/방송,2022-01-16,60,카드이체,DES-2,80400,개인,66.0,경상도,경상도,계약확정,0,없음,남자,1.0,롯데카드
8,9,66758007,렌탈,일반계약,영업방판,2022-06-29,60,카드이체,DES-3A,102900,개인,62.0,경상도,경상도,계약확정,0,없음,여자,2.0,롯데카드
9,10,66756702,렌탈,프로모션계약,영업방판,2022-06-29,60,CMS,DES-1,105900,개인,51.0,경상도,경상도,계약확정,0,없음,여자,1.0,신한은행

In [130]:
df1.tail(10)

,Index,Member_ID,Sales_Type,Contract_Type,Channel,Datetime,Term,Payment_Type,Product_Type,Amount_Month,Customer_Type,Age,Address1,Address2,State,Overdue_count,Overdue_Type,Gender,Credit_Rank,Bank
51291,51293,25731743,렌탈,일반계약,영업방판,2023-02-11,60,CMS,DES-3A,102900,사업자,NaN,경기도,경기도,계약확정,10,있음,여자,NaN,농협중앙회
51292,51294,66799221,멤버십,멤버십2유형,전문매장H,2023-04-12,36,무통장,DES-1,56979,개인,NaN,경기도,경기도,계약확정,0,없음,여자,NaN,NaN
51293,51295,66799369,렌탈,일반계약,대형마트A,2023-07-10,60,CMS,DES-1,96900,개인,74.0,경기도,경기도,계약확정,0,없음,여자,1.0,국민은행
51294,51296,66796007,렌탈,프로모션계약,대형마트A,2022-03-10,60,카드이체,DES-3A,90900,개인,43.0,경기도,경기도,계약확정,0,없음,남자,NaN,BC카드
51295,51297,66792261,렌탈,일반계약,홈쇼핑/방송,2022-03-10,60,카드이체,DES-1,96900,개인,45.0,경기도,경기도,계약확정,0,없음,여자,1.0,롯데카드
51296,51298,66579515,렌탈,프로모션계약,대형마트A,2022-02-28,60,CMS,DES-3A,96900,개인,47.0,경기도,경기도,계약확정,0,없음,남자,NaN,기업은행
51297,51299,66799558,렌탈,일반계약,대형마트A,2022-03-31,60,CMS,DES-1,96900,개인,42.0,경기도,경기도,계약확정,0,없음,여자,8.0,새마을금고
51298,51300,66799197,렌탈,프로모션계약,영업방판,2022-03-31,39,카드이체,ERA,120900,개인,65.0,서울특별시,서울특별시,계약확정,0,없음,여자,1.0,롯데카드
51299,51301,66792778,렌탈,일반계약,홈쇼핑/방송,2023-02-05,60,카드이체,DES-1,96900,개인,54.0,서울특별시,서울특별시,계약확정,0,없음,여자,2.0,롯데카드
51300,51302,66799607,렌탈,일반계약,홈쇼핑/방송,2022-04-23,60,CMS,DES-1,96900,개인,53.0,서울특별시,서울특별시,계약확정,0,없음,여자,8.0,신한은행

In [134]:
df1.iloc[100:120]

,Index,Member_ID,Sales_Type,Contract_Type,Channel,Datetime,Term,Payment_Type,Product_Type,Amount_Month,Customer_Type,Age,Address1,Address2,State,Overdue_count,Overdue_Type,Gender,Credit_Rank,Bank
100,101,66758264,렌탈,패키지계약,홈쇼핑/방송,2021-12-31,60,CMS,DES-1,81900,개인,38.0,전라도,광주광역시,계약확정,0,없음,남자,2.0,광주은행
101,102,66758264,렌탈,패키지계약,홈쇼핑/방송,2022-02-08,60,CMS,DES-2,81900,개인,38.0,전라도,광주광역시,계약확정,0,없음,남자,2.0,광주은행
102,103,66758918,렌탈,일반계약,전문매장H,2022-01-30,60,CMS,DES-1,96900,개인,36.0,전라도,광주광역시,계약확정,0,없음,여자,1.0,국민은행
103,104,66437196,렌탈,프로모션계약,영업방판,2022-01-30,60,CMS,DES-3A,90900,개인,44.0,전라도,광주광역시,계약확정,0,없음,여자,2.0,농협회원조합
104,105,66420849,렌탈,프로모션계약,영업방판,2022-02-20,60,CMS,DES-2,90900,개인,50.0,전라도,광주광역시,계약확정,0,없음,남자,3.0,외환은행
105,106,66758580,렌탈,패키지계약,영업방판,2022-06-10,60,CMS,DES-1,134700,개인,53.0,전라도,광주광역시,해약확정,0,없음,남자,2.0,농협중앙회
106,107,66282355,렌탈,교체계약,영업방판,2022-07-13,60,CMS,DES-1,96900,개인,63.0,경기도,경기도,계약확정,0,없음,여자,1.0,우리은행
107,108,66758599,렌탈,패키지계약,홈쇼핑/방송,2021-12-31,60,CMS,DES-1,81900,개인,46.0,경기도,경기도,계약확정,0,없음,남자,3.0,신한은행
108,109,66758599,렌탈,패키지계약,홈쇼핑/방송,2022-06-21,60,CMS,DES-2,81900,개인,46.0,경기도,경기도,계약확정,0,없음,남자,3.0,신한은행
109,110,25742697,렌탈,일반계약,영업방판,2022-08-15,60,CMS,DES-1,96900,사업자,42.0,경기도,경기도,계약확정,0,없음,여자,NaN,국민은행
110,111,66758509,렌탈,일반계약,홈쇼핑/방송,2022-11-01,60,카드이체,DES-1,96900,개인,38.0,경기도,경기도,계약확정,0,없음,여자,1.0,신한카드
111,112,66299293,렌탈,교체계약,영업방판,2022-02-27,60,CMS,DES-1,96900,개인,52.0,경기도,경기도,계약확정,0,없음,여자,2.0,농협회원조합
112,113,66675444,렌탈,프로모션계약,영업방판,2022-02-27,60,CMS,DES-1,96900,개인,58.0,경기도,경기도,계약확정,0,없음,여자,1.0,농협중앙회
113,114,66128332,렌탈,교체계약,영업방판,2022-10-22,60,CMS,DES-R4,125700,개인,51.0,경기도,경기도,계약확정,0,없음,남자,5.0,신한은행
114,115,66228840,렌탈,교체계약,영업방판,2023-06-30,60,CMS,DES-1,96900,개인,60.0,경기도,경기도,계약확정,0,없음,여자,3.0,농협회원조합
115,116,66758444,렌탈,프로모션계약,전문매장H,2023-06-20,60,CMS,DES-1,96900,개인,79.0,경기도,경기도,계약확정,0,없음,남자,1.0,농협회원조합
116,117,66758453,렌탈,프로모션계약,전문매장H,2023-06-20,60,CMS,DES-1,96900,개인,58.0,경기도,경기도,계약확정,0,없음,여자,8.0,국민은행
117,118,66423309,멤버십,멤버십3유형,재계약,2022-01-24,12,CMS,DES-1,78900,개인,55.0,서울특별시,서울특별시,계약확정,0,없음,남자,3.0,신한은행
118,119,66756385,렌탈,패키지계약,홈쇼핑/방송,2022-01-30,60,카드이체,DES-1,81900,개인,52.0,서울특별시,서울특별시,계약확정,0,없음,남자,1.0,국민카드
119,120,66756385,렌탈,패키지계약,홈쇼핑/방송,2021-12-31,60,카드이체,DES-2,81900,개인,52.0,서울특별시,서울특별시,계약확정,0,없음,남자,1.0,국민카드

In [136]:
# 정렬
df1.sort_values( by = 'Age').head(10)

,Index,Member_ID,Sales_Type,Contract_Type,Channel,Datetime,Term,Payment_Type,Product_Type,Amount_Month,Customer_Type,Age,Address1,Address2,State,Overdue_count,Overdue_Type,Gender,Credit_Rank,Bank
46706,46708,66795618,렌탈,일반계약,영업방판,2022-02-19,60,CMS,DES-1,96900,개인,25.0,서울특별시,서울특별시,계약확정,0,없음,여자,5.0,농협회원조합
4283,4284,66761638,렌탈,프로모션계약,전문매장H,2022-09-19,60,카드이체,DES-1,96900,개인,26.0,전라도,전라도,계약확정,1,있음,여자,NaN,BC카드
11543,11544,66762612,렌탈,패키지계약,홈쇼핑/방송,2022-07-19,60,CMS,DES-2,81900,개인,26.0,경기도,경기도,계약확정,0,없음,여자,6.0,신한은행
46415,46417,66791824,렌탈,일반계약,대형마트A,2023-03-09,60,CMS,DES-1,87900,개인,26.0,경기도,경기도,계약확정,0,없음,남자,6.0,우리은행
11087,11088,66766878,렌탈,프로모션계약,영업방판,2022-12-28,60,CMS,DES-1,111900,개인,26.0,서울특별시,서울특별시,계약확정,0,없음,남자,NaN,우리은행
24457,24459,66775766,렌탈,프로모션계약,전문매장Z,2022-06-10,60,CMS,DES-1,96900,개인,26.0,경상도,울산광역시,계약확정,10,있음,여자,4.0,국민은행
49711,49713,66791824,렌탈,일반계약,대형마트A,2022-02-24,36,CMS,DES-2,102900,개인,26.0,경기도,경기도,계약확정,0,없음,남자,6.0,우리은행
4361,4362,66759475,렌탈,프로모션계약,홈쇼핑/방송,2023-07-31,60,CMS,DES-1,96900,개인,26.0,충청도,충청도,계약확정,0,없음,여자,5.0,농협회원조합
4501,4502,66761641,렌탈,프로모션계약,대형마트E,2022-02-22,60,카드이체,DES-1,96900,개인,26.0,경기도,경기도,계약확정,0,없음,여자,5.0,외환카드
35728,35730,66784678,렌탈,패키지계약,영업방판,2023-06-19,60,CMS,DES-2,81900,개인,26.0,충청도,충청도,계약확정,9,있음,남자,5.0,농협회원조합

In [140]:
df1.sort_values( by = 'Age', ascending = False).head(10)  #내림차순

,Index,Member_ID,Sales_Type,Contract_Type,Channel,Datetime,Term,Payment_Type,Product_Type,Amount_Month,Customer_Type,Age,Address1,Address2,State,Overdue_count,Overdue_Type,Gender,Credit_Rank,Bank
34014,34016,66436268,멤버십,멤버십3유형,재계약,2022-03-14,12,CMS,DES-1,66900,개인,102.0,경기도,경기도,계약확정,0,없음,남자,6.0,농협회원조합
21468,21470,66503354,렌탈,프로모션계약,영업방판,2023-02-07,60,CMS,DES-2,90900,개인,102.0,서울특별시,서울특별시,계약확정,2,있음,여자,6.0,국민은행
15296,15298,66768772,렌탈,프로모션계약,영업방판,2023-04-05,60,카드이체,DES-1,111900,개인,99.0,경상도,경상도,계약확정,0,없음,여자,0.0,롯데카드
22026,22028,66774541,렌탈,일반계약,영업방판,2022-05-12,60,CMS,DES-1,96900,개인,99.0,경기도,경기도,계약확정,0,없음,남자,0.0,씨티은행
22025,22027,66774484,렌탈,프로모션계약,홈쇼핑/방송,2022-02-25,60,CMS,DES-1,96900,개인,96.0,경기도,경기도,계약확정,0,없음,여자,4.0,국민은행
14810,14811,66426022,렌탈,교체계약,영업방판,2022-06-25,60,CMS,DES-1,102900,개인,96.0,경기도,경기도,계약확정,0,없음,남자,NaN,하나은행
35769,35771,66784349,렌탈,일반계약,홈쇼핑/방송,2022-02-06,60,CMS,DES-1,96900,개인,95.0,경기도,경기도,계약확정,0,없음,여자,2.0,국민은행
15388,15390,66142799,렌탈,교체계약,영업방판,2023-01-06,60,CMS,DES-1,96900,개인,94.0,서울특별시,서울특별시,계약확정,0,없음,남자,2.0,농협중앙회
29338,29340,66737916,렌탈,프로모션계약,영업방판,2022-06-18,60,CMS,DES-2,90900,개인,94.0,전라도,광주광역시,계약확정,0,없음,남자,3.0,농협중앙회
18554,18556,66174220,렌탈,일반계약,영업방판,2022-01-30,60,CMS,DES-1,96900,개인,94.0,경상도,대구광역시,계약확정,0,없음,남자,4.0,농협중앙회