In [4]:
import pandas as pd
df9 = pd.read_csv('09_Data.csv', encoding = 'cp949')
# .cp949 / euc-kr / utf-16 / utf-8 / ascii
df9

,Unnamed: 0,결제수단,교환구분,배송번호,배송시작일,배송완료일,사용한 적립금액,상품구매금액,상품명,상품번호,상품별 추가할인금액,수량,주문 시 회원등급,주문경로,주문번호,주문일시,주문자ID,카드사,쿠폰 할인금액,품목번호
0,0,무통장입금,교환안함,D-20181227-0000648-00,2019-01-07 오전 8:56,2019-01-11 오전 5:32,0,71450,195파이 탕용기 소 300개 1set(2박스),1077.0,13600,1,전화주문 고객,PC쇼핑몰,20181227-0000648,2018-12-27 오후 2:54,0V00A1,NaN,0,42602
1,1,무통장입금,교환안함,D-20181229-0000119-00,2019-01-03 오전 9:30,2019-01-07 오전 5:32,0,141240,"95파이 다용도컵 세트 4호 소 200ml 백색 PS 1,000개 1set(2박스)",42.0,19800,2,일반,모바일웹,20181229-0000119,2018-12-29 오후 1:22,1V00A1,NaN,0,42930
2,2,무통장입금,교환안함,D-20181230-0000100-00,2019-01-03 오전 9:30,2019-01-07 오전 5:32,0,13910,비닐봉투 배달중 중 백색 200개,1271.0,2900,1,NaN,모바일웹,20181230-0000100,2018-12-30 오후 3:15,2V00A1,NaN,0,42998
3,3,무통장입금,교환안함,D-20181231-0000087-00,2019-01-03 오전 9:30,2019-01-07 오전 5:32,0,81600,195파이 미니탕용기 투톤 300개 1set(2박스),1085.0,12630,1,일반,모바일웹,20181231-0000087,2018-12-31 오전 10:30,3V00A1,NaN,0,43063
4,4,무통장입금,교환안함,D-20181231-0000108-00,2019-01-07 오전 8:56,2019-01-11 오전 5:32,0,94710,250파이 원형 접시 미니 블랙 400개 1박스,1106.0,18000,1,사업자,모바일웹,20181231-0000108,2018-12-31 오전 10:43,4V00A1,NaN,0,43066
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
46744,46744,카드,교환안함,D-20171229-0000036-00,2017-12-29 오후 4:32,2018-01-02 오전 5:31,0,52800,PP 4칸 도시락용기 A 200개 1박스,445.0,6340,1,일반,모바일웹,20171229-0000036,2017-12-29 오후 1:39,2182V00A1,국민,0,3170
46745,46745,카드,교환안함,D-20171229-0000043-00,2018-01-03 오전 9:45,2018-01-07 오전 5:38,0,112200,PP 6칸 도시락용기 02 200개 1박스,172.0,13460,2,사업자,모바일웹,20171229-0000043,2017-12-29 오후 5:16,407V00A1,비씨,0,3172
46746,46746,카드,교환안함,D-20171230-0000022-01,2018-01-02 오후 7:06,2018-01-11 오전 2:46,0,36000,"170mm 수저 투명 1,500개 1박스",140.0,3600,1,NaN,네이버 페이,20171230-0000022,2017-12-30 오후 6:56,2V00A1,기타,0,3177
46747,46747,카드,교환안함,D-20171231-0000017-01,2018-01-03 오후 2:00,2018-01-06 오후 6:06,0,73460,170파이 원형 샐러드 3칸 150ml x 3 검정 400개 1set(2박스),184.0,5140,1,NaN,네이버 페이,20171231-0000017,2017-12-31 오전 10:00,2V00A1,기타,0,3178
46748,46748,카드,교환안함,D-20171231-0000026-00,2018-01-03 오후 12:43,2018-01-07 오전 5:38,0,81620,125파이 원형용기 중 350ml 백색 PP 600개 1set(2박스),479.0,12240,1,일반,모바일웹,20171231-0000026,2017-12-31 오후 6:15,4956V00A1,NH (농협),0,3179

## 1. Unnamed:0와 카드사 컬럼을 제외하여 df10으로 선언한 후, df10의 컬럼명을 확인하시오

In [11]:
df10 = df9.drop(columns = ['Unnamed: 0', '카드사'])
#새로운 변수 선언 or inplace 사용
df10

,결제수단,교환구분,배송번호,배송시작일,배송완료일,사용한 적립금액,상품구매금액,상품명,상품번호,상품별 추가할인금액,수량,주문 시 회원등급,주문경로,주문번호,주문일시,주문자ID,쿠폰 할인금액,품목번호
0,무통장입금,교환안함,D-20181227-0000648-00,2019-01-07 오전 8:56,2019-01-11 오전 5:32,0,71450,195파이 탕용기 소 300개 1set(2박스),1077.0,13600,1,전화주문 고객,PC쇼핑몰,20181227-0000648,2018-12-27 오후 2:54,0V00A1,0,42602
1,무통장입금,교환안함,D-20181229-0000119-00,2019-01-03 오전 9:30,2019-01-07 오전 5:32,0,141240,"95파이 다용도컵 세트 4호 소 200ml 백색 PS 1,000개 1set(2박스)",42.0,19800,2,일반,모바일웹,20181229-0000119,2018-12-29 오후 1:22,1V00A1,0,42930
2,무통장입금,교환안함,D-20181230-0000100-00,2019-01-03 오전 9:30,2019-01-07 오전 5:32,0,13910,비닐봉투 배달중 중 백색 200개,1271.0,2900,1,NaN,모바일웹,20181230-0000100,2018-12-30 오후 3:15,2V00A1,0,42998
3,무통장입금,교환안함,D-20181231-0000087-00,2019-01-03 오전 9:30,2019-01-07 오전 5:32,0,81600,195파이 미니탕용기 투톤 300개 1set(2박스),1085.0,12630,1,일반,모바일웹,20181231-0000087,2018-12-31 오전 10:30,3V00A1,0,43063
4,무통장입금,교환안함,D-20181231-0000108-00,2019-01-07 오전 8:56,2019-01-11 오전 5:32,0,94710,250파이 원형 접시 미니 블랙 400개 1박스,1106.0,18000,1,사업자,모바일웹,20181231-0000108,2018-12-31 오전 10:43,4V00A1,0,43066
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
46744,카드,교환안함,D-20171229-0000036-00,2017-12-29 오후 4:32,2018-01-02 오전 5:31,0,52800,PP 4칸 도시락용기 A 200개 1박스,445.0,6340,1,일반,모바일웹,20171229-0000036,2017-12-29 오후 1:39,2182V00A1,0,3170
46745,카드,교환안함,D-20171229-0000043-00,2018-01-03 오전 9:45,2018-01-07 오전 5:38,0,112200,PP 6칸 도시락용기 02 200개 1박스,172.0,13460,2,사업자,모바일웹,20171229-0000043,2017-12-29 오후 5:16,407V00A1,0,3172
46746,카드,교환안함,D-20171230-0000022-01,2018-01-02 오후 7:06,2018-01-11 오전 2:46,0,36000,"170mm 수저 투명 1,500개 1박스",140.0,3600,1,NaN,네이버 페이,20171230-0000022,2017-12-30 오후 6:56,2V00A1,0,3177
46747,카드,교환안함,D-20171231-0000017-01,2018-01-03 오후 2:00,2018-01-06 오후 6:06,0,73460,170파이 원형 샐러드 3칸 150ml x 3 검정 400개 1set(2박스),184.0,5140,1,NaN,네이버 페이,20171231-0000017,2017-12-31 오전 10:00,2V00A1,0,3178
46748,카드,교환안함,D-20171231-0000026-00,2018-01-03 오후 12:43,2018-01-07 오전 5:38,0,81620,125파이 원형용기 중 350ml 백색 PP 600개 1set(2박스),479.0,12240,1,일반,모바일웹,20171231-0000026,2017-12-31 오후 6:15,4956V00A1,0,3179

## 2. df10의 구조와 타입을 확인하시오

In [7]:
df10.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 46749 entries, 0 to 46748
Data columns (total 18 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   결제수단        46749 non-null  object
 1   교환구분        46749 non-null  object
 2   배송번호        46749 non-null  object
 3   배송시작일       46749 non-null  object
 4   배송완료일       46749 non-null  object
 5   사용한 적립금액    46749 non-null  int64
 6   상품구매금액      46749 non-null  int64
 7   상품명         46661 non-null  object
 8   상품번호        46661 non-null  float64
 9   상품별 추가할인금액  46749 non-null  int64
 10  수량          46749 non-null  int64
 11  주문 시 회원등급   43644 non-null  object
 12  주문경로        46749 non-null  object
 13  주문번호        46749 non-null  object
 14  주문일시        46749 non-null  object
 15  주문자ID       46749 non-null  object
 16  쿠폰 할인금액     46749 non-null  int64
 17  품목번호        46749 non-null  int64
dtypes: float64(1), int64(6), object(11)
memory usage: 6.4+ MB

## 3. df10의 결측치를 확인한 후, 결측치가 있는 행들을 제거하여 df10_clean으로 선언하고, df10_clean의 결측치 유무를 확인하시오.

In [18]:
df10_clean = df10.dropna()
df10_clean.isnull().sum()

결제수단          0
교환구분          0
배송번호          0
배송시작일         0
배송완료일         0
사용한 적립금액      0
상품구매금액        0
상품명           0
상품번호          0
상품별 추가할인금액    0
수량            0
주문 시 회원등급     0
주문경로          0
주문번호          0
주문일시          0
주문자ID         0
쿠폰 할인금액       0
품목번호          0
dtype: int64

## 5. df10_clean의 주문 시 회원등급의 항목과 빈도수를 확인하시오

In [23]:

print(df10_clean['주문 시 회원등급'].unique(),df10_clean['주문 시 회원등급'].value_counts())

['전화주문 고객' '일반' '사업자' '특별회원' '딜러 유치 회원' '관리자' 'VIP' '딜러'] 주문 시 회원등급
사업자         15921
일반          15137
전화주문 고객     11860
딜러 유치 회원      463
특별회원          111
관리자            75
딜러             30
VIP             1
Name: count, dtype: int64

## 6. df10_clean의 중 '주문시 회원 등급' 별 주문한 수량 (수량)의 합과 평균을 확인하시오

In [61]:
p1 = df10_clean.pivot_table(index = '주문 시 회원등급' , values = '수량' , aggfunc = ['sum','mean'])
p1.columns = p1.columns.droplevel(1)
p1.columns

Index(['sum', 'mean'], dtype='object')

# 추가

In [67]:
df1 = pd.read_csv('01_Data.csv')
df1

,Index,Member_ID,Sales_Type,Contract_Type,Channel,Datetime,Term,Payment_Type,Product_Type,Amount_Month,Customer_Type,Age,Address1,Address2,State,Overdue_count,Overdue_Type,Gender,Credit_Rank,Bank
0,1,66758234,렌탈,일반계약,영업방판,2022-05-05,60,CMS,DES-1,96900,개인,42.0,경기도,경기도,계약확정,0,없음,여자,9.0,새마을금고
1,2,66755948,렌탈,교체계약,영업방판,2023-02-19,60,카드이체,DES-1,102900,개인,39.0,경기도,경기도,계약확정,0,없음,남자,2.0,현대카드
2,3,66756657,렌탈,일반계약,홈쇼핑/방송,2022-02-27,60,CMS,DES-1,96900,개인,48.0,경기도,경기도,계약확정,0,없음,여자,8.0,우리은행
3,4,66423450,멤버십,멤버십3유형,재계약,2022-05-12,12,CMS,DES-1,66900,개인,39.0,경기도,경기도,계약확정,0,없음,남자,5.0,농협회원조합
4,5,66423204,멤버십,멤버십3유형,재계약,2022-05-09,12,CMS,DES-1,66900,개인,60.0,경기도,경기도,기간만료,12,있음,남자,8.0,농협회원조합
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
51296,51298,66579515,렌탈,프로모션계약,대형마트A,2022-02-28,60,CMS,DES-3A,96900,개인,47.0,경기도,경기도,계약확정,0,없음,남자,NaN,기업은행
51297,51299,66799558,렌탈,일반계약,대형마트A,2022-03-31,60,CMS,DES-1,96900,개인,42.0,경기도,경기도,계약확정,0,없음,여자,8.0,새마을금고
51298,51300,66799197,렌탈,프로모션계약,영업방판,2022-03-31,39,카드이체,ERA,120900,개인,65.0,서울특별시,서울특별시,계약확정,0,없음,여자,1.0,롯데카드
51299,51301,66792778,렌탈,일반계약,홈쇼핑/방송,2023-02-05,60,카드이체,DES-1,96900,개인,54.0,서울특별시,서울특별시,계약확정,0,없음,여자,2.0,롯데카드
51300,51302,66799607,렌탈,일반계약,홈쇼핑/방송,2022-04-23,60,CMS,DES-1,96900,개인,53.0,서울특별시,서울특별시,계약확정,0,없음,여자,8.0,신한은행

In [69]:
# 제품군, 계약유형 별월렌탈비용, 계약기간의 평균
df1.pivot_table(index = ['Product_Type','Sales_Type'] , values = ['Amount_Month','Term'] , aggfunc = 'mean')

                          Amount_Month       Term
Product_Type Sales_Type
DES-1        렌탈           98694.923613  59.838978
             멤버십          63161.706570  22.971720
DES-2        렌탈           87901.899247  57.503655
             멤버십          57725.242718  14.796117
DES-3A       렌탈           94752.196532  59.676301
             멤버십          75900.000000  36.000000
DES-R4       렌탈          130616.250000  60.000000
             멤버십          75900.000000  12.000000
ERA          렌탈          119744.720497  39.000000
MMC          렌탈          189450.000000  39.000000

In [73]:
# columns : 구분을 추가
df1.pivot_table(index = 'Product_Type' , values = 'Amount_Month' , aggfunc = 'sum' , columns = 'Contract_Type')

Contract_Type,교체계약,단체계약,멤버십1유형,멤버십2유형,멤버십3유형,멤버십4유형,일반계약,패키지계약,프로모션계약
Product_Type,,,,,,,,,
DES-1,477513300.0,8301390.0,1070700.0,119628006.0,170745300.0,5605500.0,1.297509e+09,434438700.0,1.180304e+09
DES-2,6273300.0,8848470.0,NaN,NaN,5034900.0,910800.0,1.448395e+08,414374400.0,2.073759e+08
DES-3A,NaN,1101300.0,NaN,NaN,NaN,379500.0,3.290496e+07,10638000.0,1.520613e+08
DES-R4,5705400.0,NaN,NaN,NaN,531300.0,NaN,3.395430e+07,NaN,2.137500e+06
ERA,NaN,NaN,NaN,NaN,NaN,NaN,1.577700e+06,453600.0,7.508430e+07
MMC,NaN,NaN,NaN,NaN,NaN,NaN,2.971200e+06,NaN,1.976280e+07

In [75]:
# fill_value NaN값 대체

df1.pivot_table(index = 'Product_Type' , values = 'Amount_Month' , aggfunc = 'sum' , columns = 'Contract_Type' , fill_value = 0)

Contract_Type,교체계약,단체계약,멤버십1유형,멤버십2유형,멤버십3유형,멤버십4유형,일반계약,패키지계약,프로모션계약
Product_Type,,,,,,,,,
DES-1,477513300,8301390,1070700,119628006,170745300,5605500,1297509180,434438700,1180303650
DES-2,6273300,8848470,0,0,5034900,910800,144839520,414374400,207375900
DES-3A,0,1101300,0,0,0,379500,32904960,10638000,152061300
DES-R4,5705400,0,0,0,531300,0,33954300,0,2137500
ERA,0,0,0,0,0,0,1577700,453600,75084300
MMC,0,0,0,0,0,0,2971200,0,19762800

In [79]:
df1.pivot_table(index = 'Product_Type', values = 'Amount_Month' , aggfunc = 'describe')

,25%,50%,75%,count,max,mean,min,std
Product_Type,,,,,,,,
DES-1,89400.0,96900.0,102900.0,39133.0,180750.0,94424.545166,54603.0,15182.519860
DES-2,81900.0,87900.0,90900.0,8996.0,110700.0,87556.390618,55200.0,7859.700258
DES-3A,90900.0,90900.0,96900.0,2081.0,126900.0,94706.900529,75900.0,5587.019576
DES-R4,125700.0,126900.0,126900.0,327.0,144900.0,129444.954128,75900.0,11334.031654
ERA,120900.0,120900.0,120900.0,644.0,126900.0,119744.720497,108900.0,3614.699566
MMC,185700.0,185700.0,185700.0,120.0,215700.0,189450.000000,185700.0,9963.167462

In [94]:
df1.pivot_table(index = 'Product_Type', values = 'Amount_Month' , aggfunc = 'describe').T #X축 Y축 바꿈 transform

Product_Type,DES-1,DES-2,DES-3A,DES-R4,ERA,MMC
25%,89400.000000,81900.000000,90900.000000,125700.000000,120900.000000,185700.000000
50%,96900.000000,87900.000000,90900.000000,126900.000000,120900.000000,185700.000000
75%,102900.000000,90900.000000,96900.000000,126900.000000,120900.000000,185700.000000
count,39133.000000,8996.000000,2081.000000,327.000000,644.000000,120.000000
max,180750.000000,110700.000000,126900.000000,144900.000000,126900.000000,215700.000000
mean,94424.545166,87556.390618,94706.900529,129444.954128,119744.720497,189450.000000
min,54603.000000,55200.000000,75900.000000,75900.000000,108900.000000,185700.000000
std,15182.519860,7859.700258,5587.019576,11334.031654,3614.699566,9963.167462