In [2]:
import pandas as pd
import numpy as np
import matplotlib
%matplotlib inline
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
matplotlib.rc('font', family = 'Malgun Gothic')
matplotlib.rc('axes', unicode_minus=False)
warnings.filterwarnings('ignore')
import matplotlib.ticker as ticker

In [77]:
df = pd.read_csv('data_total.csv')
df

,Unnamed: 0,회원번호,회원상태,구매수량,구매금액,주문일시,배송시작일,배송완료일,사용 적립금,사용 포인트 네이버,...,주소지,세부주소지,나이대,물품명,물품대분류,물품중분류,상품중량,제품군,가격대,관심물품중분류
0,0,1032097472,정상회원,1.0,7083,2022-01-08,NaN,NaN,0,0,...,경기도,화성시,30대,유정란/친환경,알,논지엠오유정란,10알,알,고가,두부
1,1,1032097472,정상회원,1.0,10338,2022-09-16,2022-09-17,2022-09-18,0,0,...,경기도,화성시,30대,유정란/친환경,알,논지엠오유정란,10알,알,고가,두부
2,2,1032097472,정상회원,1.0,10338,2022-06-18,2022-06-18,2022-06-18,0,0,...,경기도,화성시,30대,유정란/친환경,알,논지엠오유정란,10알,알,고가,두부
3,3,1032097472,정상회원,1.0,10338,2022-04-02,2022-04-02,2022-04-02,0,0,...,경기도,화성시,30대,유정란/친환경,알,논지엠오유정란,10알,알,고가,두부
4,4,1032097472,정상회원,1.0,8615,2022-05-07,2022-05-07,2022-05-08,0,0,...,경기도,화성시,30대,유정란/친환경,알,논지엠오유정란,10알,알,고가,두부
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
422231,422231,975691776,정상회원,3.0,149324,2022-02-20,2022-02-22,2022-02-23,0,0,...,광주광역시,동구,30대,개복숭아감식초모음,음료,음료기타,NaN,음료/주류,저가,라면
422232,422232,442656000,정상회원,1.0,260360,2022-02-11,2022-02-13,2022-02-15,5210,0,...,인천광역시,남동구,50대,한우등심선물,소,한우,2kg,정육/계란,저가,당근
422233,422233,322448448,정상회원,1.0,260360,2022-02-18,2022-02-19,2022-02-20,0,0,...,경기도,이천시,30대,한우등심선물,소,한우,2kg,정육/계란,저가,한우
422234,422234,204041216,정상회원,1.0,7083,2022-01-16,2022-01-16,2022-01-16,0,0,...,경기도,화성시,40대,당근토마토즙,음료,과즙,620ml,음료/주류,고가,논지엠오유정란
422235,422235,1219033792,정상회원,1.0,7083,2022-01-13,NaN,NaN,0,0,...,경상북도,구미시,20대,당근토마토즙,음료,과즙,620ml,음료/주류,고가,논지엠오유정란

## 10월 자료만 뽑아서 기준만들자

In [13]:
# 주문 취소 행 삭제
df = df[df['주문취소여부'] != '주문취소']

In [18]:
df['주문취소여부'].value_counts()

주문취소여부
주문정상    402914
Name: count, dtype: int64

In [26]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 402914 entries, 1 to 422234
Data columns (total 42 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Unnamed: 0  402914 non-null  int64
 1   회원번호        402914 non-null  int64
 2   회원상태        402913 non-null  object
 3   구매수량        402914 non-null  float64
 4   구매금액        402914 non-null  int64
 5   주문일시        402914 non-null  object
 6   배송시작일       402914 non-null  object
 7   배송완료일       402914 non-null  object
 8   사용 적립금      402914 non-null  int64
 9   사용 포인트 네이버  402914 non-null  int64
 10  주문취소여부      402914 non-null  object
 11  주문시간        402914 non-null  object
 12  제품번호        402914 non-null  object
 13  회원상태_new    402914 non-null  object
 14  주문일시dt      402914 non-null  datetime64[ns]
 15  주문요일        402914 non-null  object
 16  주문월         402914 non-null  int64
 17  주문일         402914 non-null  int64
 18  주문주         402914 non-null  int64
 19  배송시작일dt     402914 non-null  object
 20  배송완료일dt     402914 non-null  object
 21  소요일         402914 non-null  float64
 22  주문시간_오전오후   402914 non-null  object
 23  주문시간_24시    402914 non-null  int64
 24  주문시간_분      402914 non-null  int64
 25  단가          402914 non-null  float64
 26  배송기간        402914 non-null  float64
 27  성별          402912 non-null  object
 28  나이          402914 non-null  int64
 29  등록카드        402854 non-null  object
 30  결혼          402914 non-null  object
 31  구독여부        402914 non-null  object
 32  주소지         402833 non-null  object
 33  세부주소지       402572 non-null  object
 34  나이대         402914 non-null  object
 35  물품명         402914 non-null  object
 36  물품대분류       402914 non-null  object
 37  물품중분류       402914 non-null  object
 38  상품중량        393409 non-null  object
 39  제품군         402914 non-null  object
 40  가격대         402914 non-null  object
 41  관심물품중분류     402914 non-null  object
dtypes: datetime64[ns](1), float64(4), int64(11), object(26)
memory usage: 132.2+ MB

In [90]:
# 주문월 칼럼 만들기
# df['주문월'] = df['주문일시dt'].dt.month

In [98]:
df_10 = df[df['주문월'] == 10]

In [100]:
df_10['회원번호'].value_counts()

회원번호
1670400000    167
436681536      84
59774336       67
220954944      64
72796032       60
             ...
75596736        1
572603840       1
750620224       1
558711680       1
1027992000      1
Name: count, Length: 5570, dtype: int64

In [102]:
# 10월 주문만 추출
df_10 = df[df['주문월'] == 10]

In [104]:
# 10월 주문 내 회원번호별 구매금액 구하기
df_10 = df_10.groupby('회원번호')['구매금액'].sum().reset_index().sort_values(by = '구매금액' , ascending = False)
df_10

            회원번호     구매금액
5568  1670400000  1665674
1410   436681536  1457982
3658   978839552   912561
393    138689600   903904
1195   377644032   839743
...          ...      ...
5410  1601145216     1149
4706  1312739520      766
1887   584736512      766
4529  1255455936      766
4637  1290942656      766

[5570 rows x 2 columns]

In [106]:
df_10['구매금액'].describe().round(0)

count       5570.0
mean       69733.0
std        90570.0
min          766.0
25%        17039.0
50%        39438.0
75%        86795.0
max      1665674.0
Name: 구매금액, dtype: float64

In [113]:
df_10[df_10['구매금액'] >= 90000] # 상위 25%가 적당하다

            회원번호     구매금액
5568  1670400000  1665674
1410   436681536  1457982
3658   978839552   912561
393    138689600   903904
1195   377644032   839743
...          ...      ...
5465  1617836224    90265
3821  1024706880    90264
5365  1577106304    90074
408    146876416    90073
5351  1571586560    90073

[1333 rows x 2 columns]

# Monetary

## 9만원으로 구분하자
- 근데 10월기준으로 하면 나머지 월은 어쩌지
- 10월과 11월에 구매이력이 있는 사람은
- 10월 데이터만 가지고 놀자

In [192]:
df_10 = df[df['주문월'] == 10]
df_10 = df_10.drop(columns = 'Monetary')
df_10

,Unnamed: 0,회원번호,회원상태,구매수량,구매금액,주문일시,배송시작일,배송완료일,사용 적립금,사용 포인트 네이버,...,주소지,세부주소지,나이대,물품명,물품대분류,물품중분류,상품중량,제품군,가격대,관심물품중분류
9,9,369152832,정상회원,1.0,10338,2022-10-26,2022-10-26,2022-10-26,0,0,...,울산광역시,남구,40대,유정란/친환경,알,논지엠오유정란,10알,알,고가,보리살림(냉장)
23,23,438814080,정상회원,1.0,10338,2022-10-05,2022-10-05,2022-10-05,0,0,...,세종특별자치시,조치원읍,60대,유정란/친환경,알,논지엠오유정란,10알,알,고가,단과자빵
24,24,438814080,정상회원,1.0,13401,2022-10-21,NaN,NaN,0,0,...,세종특별자치시,조치원읍,60대,유정란/친환경,알,논지엠오유정란,10알,알,고가,단과자빵
33,33,869925760,정상회원,1.0,10338,2022-10-16,2022-10-16,2022-10-17,0,0,...,서울특별시,마포구,40대,유정란/친환경,알,논지엠오유정란,10알,알,고가,두부
46,46,869925760,정상회원,1.0,10338,2022-10-19,2022-10-19,2022-10-19,0,0,...,서울특별시,마포구,40대,유정란/친환경,알,논지엠오유정란,10알,알,고가,두부
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
422159,422159,1364147008,정상회원,1.0,11295,2022-10-19,2022-10-19,2022-10-21,0,0,...,부산광역시,남구,20대,곱게다진오징어,냉동수산,기타냉동수산,80g,수산물/건해산,고가,아이스크림
422160,422160,1640791232,정상회원,1.0,11295,2022-10-30,2022-11-01,2022-11-02,0,0,...,전라남도,고흥군,20대,곱게다진오징어,냉동수산,기타냉동수산,80g,수산물/건해산,고가,기타냉동수산
422164,422164,1028092224,정상회원,1.0,67962,2022-10-06,2022-10-06,2022-10-08,0,0,...,부산광역시,강서구,30대,한우구이용갈비,소,한우,800g,정육/계란,저가,무항생제닭
422172,422172,1027992000,정상회원,1.0,74662,2022-10-09,2022-10-09,2022-10-10,0,0,...,인천광역시,중구,50대,떠먹는배도라지청모음,건강일반,추출/농축액,230g*2병,건강식품,저가,미역/다시마
422184,422184,372553024,정상회원,1.0,74662,2022-10-03,2022-10-03,2022-10-03,0,2440,...,부산광역시,사하구,30대,떠먹는배도라지청모음,건강일반,추출/농축액,230g*2병,건강식품,저가,두부

In [169]:
# 10월에 회원번호 별 구매금액 구하기
df_10['회원번호'].value_counts()

회원번호
1670400000    167
436681536      84
59774336       67
220954944      64
72796032       60
             ...
75596736        1
572603840       1
750620224       1
558711680       1
1027992000      1
Name: count, Length: 5570, dtype: int64

In [187]:
df_10_1 = df_10.groupby('회원번호')['구매금액'].sum().reset_index()

In [194]:
# 10월만 뽑은 데이터에 월간구매금액 구하기
df_10 = pd.merge(df_10, df_10_1, on='회원번호', how='inner')

In [202]:
# 월간구매금액 col이름 바꾸기
df_10.rename(columns = {'구매금액_y' : '월간구매금액'}, inplace = True)

In [210]:
# 월간구매금액 기준으로 월간구매금액기준에 HIGH/ LOW만들기
df_10['월간구매금액기준구분'] = 'LOW'
df_10.loc[df_10['월간구매금액'] >= 90000 , '월간구매금액기준구분'] = 'HIGH'

In [214]:
df_10['월간구매금액기준구분'].value_counts()

월간구매금액기준구분
HIGH    21286
LOW     15572
Name: count, dtype: int64

# Frequency
- 10월에 얼마나 구매했는가
- 회원번호 갯수를 카운트?
- 행 갯수가 곧 주문갯수

In [247]:
# 회원번호별 갯수를 카운트 해보자
df_10_F = df_10.groupby('회원번호').size().reset_index(name='주문횟수').sort_values(by = '주문횟수', ascending = False)
# 167건 주문은 뭐여

In [253]:
# 주문횟수 통계보자
df_10_F['주문횟수'].describe().round(0)

count    5570.0
mean        7.0
std         8.0
min         1.0
25%         2.0
50%         4.0
75%         8.0
max       167.0
Name: 주문횟수, dtype: float64

In [261]:
# 기준 8로 잡아보자 몇개임?
df_10_F[df_10_F['주문횟수'] >= 8]
# 5570개 중 1571개 약 상위 28%

            회원번호  주문횟수
5568  1670400000   167
1410   436681536    84
108     59774336    67
646    220954944    64
177     72796032    60
...          ...   ...
4167  1137551680     8
3937  1055588864     8
635    214657536     8
2135   656819840     8
1242   391224384     8

[1571 rows x 2 columns]

## 8회로 구분하자

In [286]:
# df_10 데이터랑 df_10_F랑 병합
df_10 = pd.merge(df_10, df_10_F, on='회원번호', how='inner')

In [290]:
# 주문횟수 이름 변경

df_10.rename(columns = {'주문횟수' : '월간주문횟수'}, inplace = True)

In [294]:
# 월간구매금액 기준으로 월간구매금액기준에 HIGH/ LOW만들기
df_10['월간주문횟수기준구분'] = 'LOW'
df_10.loc[df_10['월간주문횟수'] >= 8 , '월간주문횟수기준구분'] = 'HIGH'
df_10

,Unnamed: 0,회원번호,회원상태,구매수량,구매금액_x,주문일시,배송시작일,배송완료일,사용 적립금,사용 포인트 네이버,...,물품대분류,물품중분류,상품중량,제품군,가격대,관심물품중분류,월간구매금액,월간구매금액기준구분,월간주문횟수,월간주문횟수기준구분
0,9,369152832,정상회원,1.0,10338,2022-10-26,2022-10-26,2022-10-26,0,0,...,알,논지엠오유정란,10알,알,고가,보리살림(냉장),58581,LOW,3,LOW
1,23,438814080,정상회원,1.0,10338,2022-10-05,2022-10-05,2022-10-05,0,0,...,알,논지엠오유정란,10알,알,고가,단과자빵,168274,HIGH,22,HIGH
2,24,438814080,정상회원,1.0,13401,2022-10-21,NaN,NaN,0,0,...,알,논지엠오유정란,10알,알,고가,단과자빵,168274,HIGH,22,HIGH
3,33,869925760,정상회원,1.0,10338,2022-10-16,2022-10-16,2022-10-17,0,0,...,알,논지엠오유정란,10알,알,고가,두부,161195,HIGH,17,HIGH
4,46,869925760,정상회원,1.0,10338,2022-10-19,2022-10-19,2022-10-19,0,0,...,알,논지엠오유정란,10알,알,고가,두부,161195,HIGH,17,HIGH
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36853,422159,1364147008,정상회원,1.0,11295,2022-10-19,2022-10-19,2022-10-21,0,0,...,냉동수산,기타냉동수산,80g,수산물/건해산,고가,아이스크림,22973,LOW,2,LOW
36854,422160,1640791232,정상회원,1.0,11295,2022-10-30,2022-11-01,2022-11-02,0,0,...,냉동수산,기타냉동수산,80g,수산물/건해산,고가,기타냉동수산,11295,LOW,1,LOW
36855,422164,1028092224,정상회원,1.0,67962,2022-10-06,2022-10-06,2022-10-08,0,0,...,소,한우,800g,정육/계란,저가,무항생제닭,402122,HIGH,32,HIGH
36856,422172,1027992000,정상회원,1.0,74662,2022-10-09,2022-10-09,2022-10-10,0,0,...,건강일반,추출/농축액,230g*2병,건강식품,저가,미역/다시마,74662,LOW,1,LOW
36857,422184,372553024,정상회원,1.0,74662,2022-10-03,2022-10-03,2022-10-03,0,2440,...,건강일반,추출/농축액,230g*2병,건강식품,저가,두부,87489,LOW,5,LOW

In [296]:
df_10['월간주문횟수기준구분'].value_counts()

월간주문횟수기준구분
HIGH    24472
LOW     12386
Name: count, dtype: int64

In [300]:
# 두 종목 다 HIGH인 사람들
df_10[(df_10['월간구매금액기준구분'] == 'HIGH') & (df_10['월간주문횟수기준구분'] == 'HIGH')]
# 36858 중 20304명

,Unnamed: 0,회원번호,회원상태,구매수량,구매금액_x,주문일시,배송시작일,배송완료일,사용 적립금,사용 포인트 네이버,...,물품대분류,물품중분류,상품중량,제품군,가격대,관심물품중분류,월간구매금액,월간구매금액기준구분,월간주문횟수,월간주문횟수기준구분
1,23,438814080,정상회원,1.0,10338,2022-10-05,2022-10-05,2022-10-05,0,0,...,알,논지엠오유정란,10알,알,고가,단과자빵,168274,HIGH,22,HIGH
2,24,438814080,정상회원,1.0,13401,2022-10-21,NaN,NaN,0,0,...,알,논지엠오유정란,10알,알,고가,단과자빵,168274,HIGH,22,HIGH
3,33,869925760,정상회원,1.0,10338,2022-10-16,2022-10-16,2022-10-17,0,0,...,알,논지엠오유정란,10알,알,고가,두부,161195,HIGH,17,HIGH
4,46,869925760,정상회원,1.0,10338,2022-10-19,2022-10-19,2022-10-19,0,0,...,알,논지엠오유정란,10알,알,고가,두부,161195,HIGH,17,HIGH
5,54,609753536,정상회원,1.0,13401,2022-10-25,2022-10-27,2022-10-28,5240,0,...,알,논지엠오유정란,10알,알,고가,"식빵, 식사대용",185989,HIGH,24,HIGH
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36847,422114,220954944,정상회원,1.0,4212,2022-10-26,2022-10-27,2022-10-27,0,0,...,빵,"식빵, 식사대용",204g/4개/,과자/간식,중가,두부,604663,HIGH,64,HIGH
36848,422153,973106368,정상회원,1.0,11295,2022-10-19,2022-10-19,2022-10-19,0,0,...,냉동수산,기타냉동수산,80g,수산물/건해산,고가,푸딩,354168,HIGH,42,HIGH
36849,422154,282004352,정상회원,1.0,11295,2022-10-31,2022-10-31,2022-11-02,0,0,...,냉동수산,기타냉동수산,80g,수산물/건해산,고가,한우(중량),360868,HIGH,24,HIGH
36850,422155,50776448,정상회원,1.0,11295,2022-10-23,2022-10-23,2022-10-23,0,0,...,냉동수산,기타냉동수산,80g,수산물/건해산,고가,두부,235760,HIGH,23,HIGH
36855,422164,1028092224,정상회원,1.0,67962,2022-10-06,2022-10-06,2022-10-08,0,0,...,소,한우,800g,정육/계란,저가,무항생제닭,402122,HIGH,32,HIGH

In [304]:
ㅇㄹ