In [1]:
import pandas as pd
import numpy as np

In [41]:
pop_seoul = pd.read_csv('서울인구통계.txt', sep='\t', thousands = ',' , skiprows = 2, encoding = "utf-8" ) 
pop_seoul.head()

,기간,자치구,세대,계,남자,여자,계.1,남자.1,여자.1,계.2,남자.2,여자.2,세대당인구,65세이상고령자
0,2021.3/4,합계,4421143,9765869,4739972,5025897,9542256,4636069,4906187,223613,103903,119710,2.16,1592339
1,2021.3/4,종로구,73652,154318,74561,79757,145512,70666,74846,8806,3895,4911,1.98,27776
2,2021.3/4,중구,63267,131943,64274,67669,122858,59853,63005,9085,4421,4664,1.94,24225
3,2021.3/4,용산구,111177,238300,115655,122645,224145,107801,116344,14155,7854,6301,2.02,38906
4,2021.3/4,성동구,134620,294140,143055,151085,287820,140290,147530,6320,2765,3555,2.14,46053

In [43]:
pop1 = pop_seoul[['자치구' , '계', '계.1', '계.2','65세이상고령자']]
pop_seoul = pop1.drop([0])
pop_seoul.head()

   자치구       계     계.1    계.2  65세이상고령자
1  종로구  154318  145512   8806     27776
2   중구  131943  122858   9085     24225
3  용산구  238300  224145  14155     38906
4  성동구  294140  287820   6320     46053
5  광진구  353380  341112  12268     51278

In [47]:
pop_seoul.rename(columns = {pop_seoul.columns[0]:'구별',pop_seoul.columns[1]:'인구수' , pop_seoul.columns[2]:'한국인' , pop_seoul.columns[3]:'외국인', pop_seoul.columns[4]:'고령자'},inplace = True)
pop_seoul.head()

    구별     인구수     한국인    외국인    고령자
1  종로구  154318  145512   8806  27776
2   중구  131943  122858   9085  24225
3  용산구  238300  224145  14155  38906
4  성동구  294140  287820   6320  46053
5  광진구  353380  341112  12268  51278

In [51]:
cctv_seoul = pd.read_excel('서울시CCTV.xlsx', skiprows = 2, names = ['기관명', '소계', '2011년 이전' , '2012년' , '2013년' , '2014년','2015년', '2016년', '2017년'  , '2018년' , '2019년', '2020년' , '2021년'])
cctv_seoul.head()

,기관명,소계,2011년 이전,2012년,2013년,2014년,2015년,2016년,2017년,2018년,2019년,2020년,2021년
0,종로구,1772,813,0,0,210,150,1,261,85,9,200,43
1,중 구,2333,16,114,87,77,236,240,372,386,155,361,289
2,용산구,2383,34,71,234,125,221,298,351,125,307,617,0
3,성동구,3602,448,125,212,105,339,310,874,390,262,461,76
4,광진구,2588,35,57,100,187,98,52,675,465,712,175,32

In [53]:
cctv_seoul.rename(columns = {cctv_seoul.columns[0] : '구별'},inplace = True)
cctv_seoul.rename(columns = {cctv_seoul.columns[1] : 'CCTV수'},inplace = True)
cctv_seoul.head()

,구별,CCTV수,2011년 이전,2012년,2013년,2014년,2015년,2016년,2017년,2018년,2019년,2020년,2021년
0,종로구,1772,813,0,0,210,150,1,261,85,9,200,43
1,중 구,2333,16,114,87,77,236,240,372,386,155,361,289
2,용산구,2383,34,71,234,125,221,298,351,125,307,617,0
3,성동구,3602,448,125,212,105,339,310,874,390,262,461,76
4,광진구,2588,35,57,100,187,98,52,675,465,712,175,32

In [55]:
cctv_seoul.sort_values(by = 'CCTV수',ascending = True).head(10)

,구별,CCTV수,2011년 이전,2012년,2013년,2014년,2015년,2016년,2017년,2018년,2019년,2020년,2021년
9,도봉구,1629,39,22,96,181,79,159,134,222,198,168,331
0,종로구,1772,813,0,0,210,150,1,261,85,9,200,43
19,동작구,2297,41,24,25,503,128,253,271,300,322,419,11
1,중 구,2333,16,114,87,77,236,240,372,386,155,361,289
17,금천구,2374,0,0,178,80,361,133,196,540,369,508,9
2,용산구,2383,34,71,234,125,221,298,351,125,307,617,0
10,노원구,2415,0,97,193,77,516,331,175,216,320,386,104
13,마포구,2421,58,93,77,61,162,454,359,343,494,300,20
8,강북구,2462,0,0,24,65,105,243,6,392,1000,588,39
5,동대문구,2497,1090,146,60,29,111,233,136,197,209,223,63

In [57]:
cctv_seoul.sort_values(by = 'CCTV수',ascending = False).head(10)

,구별,CCTV수,2011년 이전,2012년,2013년,2014년,2015년,2016년,2017년,2018년,2019년,2020년,2021년
22,강남구,6502,124,77,75,597,840,1310,999,748,789,942,1
20,관악구,4942,428,205,291,513,529,621,687,663,640,331,34
16,구로구,4075,852,216,349,187,268,326,540,488,434,415,0
7,성북구,3958,83,78,170,230,323,594,460,867,714,251,188
11,은평구,3791,14,3,44,332,329,555,403,635,1057,288,131
18,영등포구,3778,572,136,238,123,209,248,311,658,65,1213,5
21,서초구,3704,116,75,94,71,563,516,1060,428,358,420,3
3,성동구,3602,448,125,212,105,339,310,874,390,262,461,76
14,양천구,3312,1413,167,181,143,180,350,139,140,274,325,0
6,중랑구,3296,302,24,253,88,141,161,162,173,1049,939,4

In [59]:
cctv_seoul.isnull().sum()

구별          0
CCTV수       0
2011년 이전    0
2012년       0
2013년       0
2014년       0
2015년       0
2016년       0
2017년       0
2018년       0
2019년       0
2020년       0
2021년       0
dtype: int64

In [63]:
cctv_seoul['최근증가율'] = (cctv_seoul['2021년'] + cctv_seoul['2020년'] + cctv_seoul['2019년']) /  (cctv_seoul['CCTV수'] - (cctv_seoul['2021년'] + cctv_seoul['2020년'] + cctv_seoul['2019년'])) * 100

In [65]:
cctv_seoul.head()

,구별,CCTV수,2011년 이전,2012년,2013년,2014년,2015년,2016년,2017년,2018년,2019년,2020년,2021년,최근증가율
0,종로구,1772,813,0,0,210,150,1,261,85,9,200,43,16.578947
1,중 구,2333,16,114,87,77,236,240,372,386,155,361,289,52.683246
2,용산구,2383,34,71,234,125,221,298,351,125,307,617,0,63.331049
3,성동구,3602,448,125,212,105,339,310,874,390,262,461,76,28.505173
4,광진구,2588,35,57,100,187,98,52,675,465,712,175,32,55.062912

In [67]:
cctv_seoul.sort_values(by = '최근증가율' , ascending = False).head(5)

,구별,CCTV수,2011년 이전,2012년,2013년,2014년,2015년,2016년,2017년,2018년,2019년,2020년,2021년,최근증가율
8,강북구,2462,0,0,24,65,105,243,6,392,1000,588,39,194.850299
6,중랑구,3296,302,24,253,88,141,161,162,173,1049,939,4,152.760736
23,송파구,2854,72,61,86,85,215,148,241,542,1068,235,101,96.827586
9,도봉구,1629,39,22,96,181,79,159,134,222,198,168,331,74.785408
11,은평구,3791,14,3,44,332,329,555,403,635,1057,288,131,63.758099

In [69]:
pop_seoul['외국인 비율'] = pop_seoul['외국인']/pop_seoul['인구수']*100
pop_seoul['고령자 비율'] = pop_seoul['고령자']/pop_seoul['인구수']*100
pop_seoul.head()

    구별     인구수     한국인    외국인    고령자    외국인 비율     고령자 비율
1  종로구  154318  145512   8806  27776  5.706398  17.999196
2   중구  131943  122858   9085  24225  6.885549  18.360201
3  용산구  238300  224145  14155  38906  5.939992  16.326479
4  성동구  294140  287820   6320  46053  2.148637  15.656830
5  광진구  353380  341112  12268  51278  3.471617  14.510725

In [71]:
# 서울시 인구 데이터 확인
pop_seoul.sort_values(by = '외국인 비율' , ascending = False).head()

      구별     인구수     한국인    외국인    고령자    외국인 비율     고령자 비율
2     중구  131943  122858   9085  24225  6.885549  18.360201
19  영등포구  401814  377536  24278  62108  6.042099  15.456903
3    용산구  238300  224145  14155  38906  5.939992  16.326479
17   구로구  422361  397506  24855  71930  5.884776  17.030455
18   금천구  244887  230644  14243  40691  5.816152  16.616235

In [73]:
pop_seoul.sort_values(by = '고령자 비율' , ascending = False).head()

     구별     인구수     한국인   외국인    고령자    외국인 비율     고령자 비율
9   강북구  304257  300887  3370  63914  1.107616  21.006583
10  도봉구  320711  318718  1993  63448  0.621432  19.783543
2    중구  131943  122858  9085  24225  6.885549  18.360201
12  은평구  477961  474062  3899  86724  0.815757  18.144577
7   중랑구  393149  388554  4595  70908  1.168768  18.035910

In [79]:
cctv_seoul['구별'] = cctv_seoul['구별'].str.replace(' ','')

In [83]:
result = pd.merge(cctv_seoul,pop_seoul, on = '구별')
result.head()

,구별,CCTV수,2011년 이전,2012년,2013년,2014년,2015년,2016년,2017년,2018년,2019년,2020년,2021년,최근증가율,인구수,한국인,외국인,고령자,외국인 비율,고령자 비율
0,종로구,1772,813,0,0,210,150,1,261,85,9,200,43,16.578947,154318,145512,8806,27776,5.706398,17.999196
1,중구,2333,16,114,87,77,236,240,372,386,155,361,289,52.683246,131943,122858,9085,24225,6.885549,18.360201
2,용산구,2383,34,71,234,125,221,298,351,125,307,617,0,63.331049,238300,224145,14155,38906,5.939992,16.326479
3,성동구,3602,448,125,212,105,339,310,874,390,262,461,76,28.505173,294140,287820,6320,46053,2.148637,15.656830
4,광진구,2588,35,57,100,187,98,52,675,465,712,175,32,55.062912,353380,341112,12268,51278,3.471617,14.510725